@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    color: hsl(228,45%, 44%);
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 90%) ;
}

main {
    width:60%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    grid-template-areas:
        "bloco1 bloco2 bloco2 bloco3"
        "bloco1 bloco2 bloco2 bloco3"
        "bloco1 bloco2 bloco2 bloco3"
        "bloco1 bloco2 bloco2 bloco3"
        "bloco1 bloco4 bloco5 bloco3"
        "bloco6 bloco4 bloco5 bloco3"
        "bloco6 bloco4 bloco5 bloco3"
        "bloco6 bloco7 bloco8 bloco8"
        "bloco6 bloco7 bloco8 bloco8"
        "bloco6 bloco7 bloco8 bloco8"
    ;
}

div {
    border-radius: 8px;
}

/* Estilização bloco 1*/
.bloco1 {
    grid-area: bloco1;
    background-color: var(--Yellow-100);
    padding: 40px 20px;
}
.bloco1 h2, .bloco1 span {
    text-align: left;
    font-size: 1.3rem;   
    font-weight: 600;
    line-height: 1;
}
.bloco1 span {
    color: var(--Purple-500);
    font-style: italic;
}
.bloco1 h2 {
    color: var(--Black);
}
.bloco1 img {
    height: 60px;
    margin-top: 15px;
    position: relative;
}

/* Estilização bloco 2*/
.bloco2 {
    grid-area: bloco2;
    padding: 30px 40px;
    background-color: var(--Purple-500);
}
.bloco2 h1, .bloco2 span {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1;
    color: var(--White);
}
.bloco2 span {
    color: var(--Yellow-500);
}
.bloco2 .italico {
    color: var(--White);
    font-style: italic;
}
.bloco2 img {
    height: 20px;
    margin-top: 20px;
}
.bloco2 p {
    font-size: 0.65rem;
    font-weight: lighter;
    color: var(--White);
}

/* Estilização bloco 3*/
.bloco3 {
    grid-area: bloco3;
    padding: 20px 30px 0 25px;
    background-color: var(--Purple-100);
    overflow: hidden;
}
.bloco3 h2 {
    text-align:left ;
    font-size: 1.1rem;
    font-weight: 600; 
    line-height: 1;
    color: var(--Black);
}
.bloco3 img {
    height: 60%;
    margin-top: 10px;
    position: relative;
}
.bloco3 p{
    font-size: .65rem;
    line-height: 1.1;
    text-align: left;
    color: var(--Black);
    margin-top: 5px;
}

/* Estilização bloco 4*/
.bloco4 {
    grid-area: bloco4;
    padding: 10px 30px 0 15px;
    background-color: var(--White);
    overflow: hidden;
}
.bloco4 img{
    height: 34%;
}
.bloco4 h2 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    line-height: .9;
    color:var(--Black);
}

/* Estilização bloco 5*/
.bloco5 {
    grid-area: bloco5;
    padding: 10px 20px 0 15px;
    background-color: var(--Yellow-500);
    overflow: hidden;
}
.bloco5 h2 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    line-height: 0.9;
    color: var(--Black);
}
.bloco5 img {
    height: 80%;
    position: relative;
    margin-top: 10px;
}

/* Estilização bloco 6*/
.bloco6 {
    grid-area: bloco6;
    padding: 20px 40px 0 20px;
    background-color: var(--Yellow-500);
    overflow: hidden;
}
.bloco6 h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    line-height: 1;
    color: var(--Black);
}
.bloco6 img {
    height: 60%;
    margin-top: 20px;
    position: relative;
}

/* Estilização bloco 7*/
.bloco7 {
    grid-area: bloco7;
    padding: 10px 0 0 15px;
    background-color: var(--White);
}
.bloco7 h1 {
    font-size: 2.3rem;
    font-weight: 500;
    text-align: left;
}
.bloco7 p {
    font-size: .7rem;
    text-align: left;
}
.bloco7 img {
    height: 30%;
    position: relative;
    right: 20px;
    margin-top: 15px;
}

/* Estilização bloco 8*/
.bloco8 {
    grid-area: bloco8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--Purple-500);
}
.bloco8 img {
    height: 80%;
}
.bloco8 h2 {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1;
    margin-left: 10px;
    color: var(--White);
}

/* Estilização do rodapé */
footer {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
footer p, footer a {
    font-size: .8rem;
}
footer a:hover {
    color: var(--Yellow-500);
}

@media screen and (min-width: 375px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    main {
        width: 90%;
        display: grid;
        grid-template-rows: initial;
        grid-template-columns: 100%;
        grid-template-areas: 
            "bloco2"
            "bloco4"
            "bloco5"
            "bloco3"
            "bloco8"
            "bloco7"
            "bloco1"
            "bloco6"
        ;
    }
    /* Estilização bloco 2*/
    .bloco2 {
        padding: 20px 40px 0 40px;
    }
    .bloco2 h1, .bloco2 span{
        font-size: 2.5rem;
        font-weight: 400;
    }
    .bloco2 img {
        height: 12%;
    }
    .bloco2 p {
        font-size: .9rem;
    }

    /* Estilização bloco 4*/
    .bloco4 {
        height: 130px;
    }
    .bloco4 h2 {
        font-size: 1.2rem;
    }
    .bloco4 img {
        height: 65px;
    }
    footer {
        display: none;
        width: 10%;
    }
}